* {
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.hud {
    display: grid;
    grid-template-columns: 40% 60%;
    height: 100vh;
}
.info {
    background-color: rgb(68, 68, 68);
}
.left-arrow {
    font-size: 3.5em;
    position: relative;
    left: 2.5%;
    float: left;
    color: black;
    animation: flashing-left 1.2s infinite;
}
.right-arrow {
    font-size: 3.5em;
    position: relative;
    left: 84%;
    color: black;
    animation-name: flash;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation: flashing-right 1.2s infinite;
}
.time {
    font-size: 2.5em;
    font-family: Verdana;
    color: white;
    text-shadow: 0 0 0.2em white;
    position: relative;
    top: 71%;
    left: 82.5%;
}
.lightindicator1 {
    font-size: 2.5em;
    position: relative;
    top: 59.5%;
    left: 19%;
    color: yellow;
    text-shadow: 0 0 0.2em yellow;
}
.lightindicator2 {
    font-size: 2.5em;
    position: relative;
    top: 47%;
    left: 25%;
    color: aqua;
    text-shadow: 0 0 0.2em aqua;
}
.triangle {
    font-size: 2.5em;
    position: relative;
    top: 34.5%;
    left: 30%;
    animation-name: flashing-warning;
    animation: flashing-warning 1.2s infinite;
}
.battery {
    font-size: 2.5em;
    font-family: Verdana;
    position: relative;
    top: 22%;
    left: 2%;
    color: rgb(2, 255, 2);
    text-shadow: 0 0 0.2em rgb(2, 255, 2);
}
@keyframes flashing-left{
    0% {
        color: black;
    }
    50% {     
        color: rgb(2, 255, 2);
        text-shadow: 0 0 0.2em rgba(0, 255, 0, 1);
    }
    100% {
        color: black;
    }
}
@keyframes flashing-right{
    0% {
        color: black;
    }
    50% {     
        color: rgb(2, 255, 2);
        text-shadow: 0 0 0.2em rgba(0, 255, 0, 1);
    }
    100% {
        color: black;
    }
}
@keyframes flashing-warning {
    0% {
        color: black;
    }
    50% {
        color: red;
        text-shadow: 0 0 0.2em red;
    }
    100% {
        color: black;
    }
}